{% extends 'jedis/base.html' %}
{% load static %}



{% block content %}
<div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <a href="{% url 'candidate' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Candidate</a>
      </div>
      <div class="col col-md-auto">
        <a href="{% url 'jedi' %}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Jedi</a>
      </div>
    </div>
</div>
{% endblock content %}
